@charset "UTF-8";
 /*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
    id -> único
    class -> múltiplo 
 */
body {
    background-color: rgb(191, 250, 206);
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h1 {
    color: rgb(4, 109, 0);
}

h2 {
    color: rgb(73, 109, 71);
}

.basico {
    color: rgb(73, 109, 71);
}

.intermediario {
    color: rgb(109, 105, 71);
}

.avancado{
    color: rgb(109, 71, 71);
} 

.destaque {
    background-color: #cece5665;
}