@charset "UTF-8";

/* Todas as demais mídias */

/*
Pequenos Celulares -> 0px até 575px
Celulares Grandes -> 576px até 767px
Tablets -> 768px até 991px
Laptops/Desktops -> 992px até 1199px
Monitores Grandes -> 1200px até 1399px
Telas Ultra-Wide -> Acima de 1400px
*/

@media (min-width: 768px) {

    main {
        width: 768px;
    }

    header ul {
        display: flex;
        margin: 10px;
        gap: 6px;

    }

    header a {
        border-radius: 10px 10px 0px 0px;
    }

    span#burguer {
        display: none;
    }

    #itens {
        display: block;
    }
}