@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --cor0: #06141B;
    --cor1: #11212D;
    --cor2: #253745;
    --cor3: #4A5C6A;
    --cor4: #9BA8AB;
    --cor5: #CCD0CF;
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
}

header {
    font-family: var(--fonte2);
    background-image: url(imagens/montanha\ 2.jpg);
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39) ;
}

header >p.we {
    padding-top: 100px;
}
header > p {
    padding-bottom: 20px;
    font-size: 3vw;
}
header >p.design {
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 30px;
}

header > h1 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 9vw;
}
body {
    background-color: var(--cor5);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}